sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"ESDQDO+Oswald-Regular";
	src:url("../fonts/de5d4634-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.733333em;
	font-family: "ESDQDO+Oswald-Regular";
	color: #0F141F;
}
.stl_08 {
	line-height: 1.482em;
}
.stl_09 {
	letter-spacing: 0.0956em;
}

.ie .stl_09 {
	letter-spacing: 2.6505px;
}
@font-face {
	font-family:"CDJUOP+SourceSansPro-Regular";
	src:url("../fonts/d6c954e6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.666667em;
	font-family: "CDJUOP+SourceSansPro-Regular";
	color: #0F141F;
}
.stl_11 {
	line-height: 1.367em;
}
.stl_12 {
	letter-spacing: 0.0012em;
}

.ie .stl_12 {
	letter-spacing: 0.0124px;
}
.stl_13 {
	letter-spacing: 0.002em;
}

.ie .stl_13 {
	letter-spacing: 0.0213px;
}
.stl_14 {
	font-size: 0.833333em;
	font-family: "ESDQDO+Oswald-Regular";
	color: #0F141F;
}
.stl_15 {
	letter-spacing: 0.0595em;
}

.ie .stl_15 {
	letter-spacing: 0.7933px;
}
.stl_16 {
	letter-spacing: 0.06em;
}

.ie .stl_16 {
	letter-spacing: 0.8px;
}
.stl_17 {
	font-size: 0.75em;
	font-family: "CDJUOP+SourceSansPro-Regular";
	color: #0F141F;
}
.stl_18 {
	letter-spacing: -0.0037em;
}

.ie .stl_18 {
	letter-spacing: -0.044px;
}
.stl_19 {
	letter-spacing: -0.002em;
}

.ie .stl_19 {
	letter-spacing: -0.0245px;
}
.stl_20 {
	letter-spacing: -0.0004em;
}

.ie .stl_20 {
	letter-spacing: -0.0046px;
}
.stl_21 {
	letter-spacing: 0em;
}

.ie .stl_21 {
	letter-spacing: 0px;
}
.stl_22 {
	letter-spacing: -0.0011em;
}

.ie .stl_22 {
	letter-spacing: -0.0129px;
}
.stl_23 {
	letter-spacing: -0.0026em;
}

.ie .stl_23 {
	letter-spacing: -0.0318px;
}
@font-face {
	font-family:"NEHSMJ+SourceSansPro-SemiBold";
	src:url("../fonts/b6e827f3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.75em;
	font-family: "NEHSMJ+SourceSansPro-SemiBold";
	color: #0F141F;
}
.stl_25 {
	line-height: 1.39em;
}
.stl_26 {
	letter-spacing: -0.0038em;
}

.ie .stl_26 {
	letter-spacing: -0.0452px;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "CDJUOP+SourceSansPro-Regular";
	color: #7A8599;
}
@font-face {
	font-family:"NJVETW+Arial";
	src:url("../fonts/7baf44d2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.75em;
	font-family: "NJVETW+Arial", "Times New Roman";
	color: #0F141F;
}
.stl_29 {
	line-height: 1.117188em;
}
.stl_30 {
	letter-spacing: -0.003em;
}

.ie .stl_30 {
	letter-spacing: -0.0362px;
}
.stl_31 {
	letter-spacing: -0.0023em;
}

.ie .stl_31 {
	letter-spacing: -0.0271px;
}
.stl_32 {
	letter-spacing: -0.0032em;
}

.ie .stl_32 {
	letter-spacing: -0.0384px;
}
.stl_33 {
	letter-spacing: -0.0029em;
}

.ie .stl_33 {
	letter-spacing: -0.0347px;
}
.stl_34 {
	letter-spacing: -0.0024em;
}

.ie .stl_34 {
	letter-spacing: -0.0286px;
}
.stl_35 {
	letter-spacing: -0.0014em;
}

.ie .stl_35 {
	letter-spacing: -0.0169px;
}
.stl_36 {
	letter-spacing: -0.0005em;
}

.ie .stl_36 {
	letter-spacing: -0.0063px;
}
.stl_37 {
	letter-spacing: -0.0048em;
}

.ie .stl_37 {
	letter-spacing: -0.0578px;
}
.stl_38 {
	letter-spacing: -0.0021em;
}

.ie .stl_38 {
	letter-spacing: -0.0256px;
}
.stl_39 {
	letter-spacing: -0.0042em;
}

.ie .stl_39 {
	letter-spacing: -0.0509px;
}
.stl_40 {
	letter-spacing: -0.0013em;
}

.ie .stl_40 {
	letter-spacing: -0.016px;
}
.stl_41 {
	letter-spacing: -0.0045em;
}

.ie .stl_41 {
	letter-spacing: -0.0544px;
}
.stl_42 {
	letter-spacing: -0.0019em;
}

.ie .stl_42 {
	letter-spacing: -0.0227px;
}
.stl_43 {
	letter-spacing: -0.0028em;
}

.ie .stl_43 {
	letter-spacing: -0.0341px;
}
.stl_44 {
	letter-spacing: -0.0034em;
}

.ie .stl_44 {
	letter-spacing: -0.0403px;
}
.stl_45 {
	letter-spacing: -0.0069em;
}

.ie .stl_45 {
	letter-spacing: -0.083px;
}
.stl_46 {
	letter-spacing: -0.0016em;
}

.ie .stl_46 {
	letter-spacing: -0.0198px;
}
.stl_47 {
	letter-spacing: -0.0015em;
}

.ie .stl_47 {
	letter-spacing: -0.0185px;
}
.stl_48 {
	letter-spacing: 0.0002em;
}

.ie .stl_48 {
	letter-spacing: 0.0025px;
}
.stl_49 {
	letter-spacing: 0.0596em;
}

.ie .stl_49 {
	letter-spacing: 0.795px;
}
.stl_50 {
	letter-spacing: -0.0059em;
}

.ie .stl_50 {
	letter-spacing: -0.071px;
}
.stl_51 {
	letter-spacing: 0.056em;
}

.ie .stl_51 {
	letter-spacing: 0.7467px;
}
.stl_52 {
	letter-spacing: -0.0018em;
}

.ie .stl_52 {
	letter-spacing: -0.0219px;
}
.stl_53 {
	letter-spacing: -0.0049em;
}

.ie .stl_53 {
	letter-spacing: -0.0587px;
}
.stl_54 {
	letter-spacing: -0.0025em;
}

.ie .stl_54 {
	letter-spacing: -0.0304px;
}
